.nav {
  display: flex;
  justify-content: center;
  gap: 24px;
  background: #0e1941;
  padding: 12px;
}

.nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: 0.2s;
}

.nav a:hover {
  color: #ffd700;
}
