.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.image {
  width: 100%;
  object-fit: cover;
  height: 200px;
}

.info {
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wishlist {
  background: none;
  border: none;
  cursor: pointer;
}

.filled {
  color: pink;
}

.empty {
  color: gray;
}
